workspace "Name" "Description"

    !identifiers hierarchical

    model {
        client = person "Клиент"
        restorn = person "Ресторан"
        ss = softwareSystem "Delivery application" {
            wa = container "Web Application"
            db = container "Database Schema" {
                tags "Database"
            }
        }

        client -> ss.wa "Заказывает"
        restorn -> ss.wa "Обновляет заказы"
        ss.wa -> ss.db "Получает и сохраняет заказы"
    }

    views {
        systemContext ss "Diagram1" {
            include *
            autolayout lr
        }

        container ss "Diagram2" {
            include *
            autolayout lr
        }

        styles {
            element "Element" {
                color white
            }
            element "Person" {
                background #116611
                shape person
            }
            element "Software System" {
                background #2D882D
            }
            element "Container" {
                background #55aa55
            }
            element "Database" {
                shape cylinder
            }
        }
    }

}